.buttonPage{
  .card{
    .ant-btn{
      margin-right: 8px;
      margin-bottom: 12px;
    }
    .ant-btn-group, .ant-radio-group{
      margin-right: 8px;
      margin-bottom: 12px;
      .ant-btn {
        margin-right: 0;
      }
    }
  }
}

.btn-container {
  .ant-btn {
    margin-right: 8px;
    margin-bottom: 12px;
  }
}

.tab-pane-container{
  .tab-pane{
    padding: 30px;
  }
}